/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8c6c6;
    color: #333;
}

    body {
      font-family: Arial, sans-serif;
      background-color: #b2f3e7;
      margin: 0;
      padding: 0;
    }
    h1 {
      text-align: center;
      color: #333;
      padding: 20px;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      padding: 20px;
    }
    /* Estilos del encabezado */
header {
    background-color: #333;
    color: #b7fde8;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    color: #f0fdff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

header nav ul li a {
    color: #cdd3ff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #555;
}

   /* Estilos de la sección principal (hero) */
.hero {
    background-color: #cdd3ff;
    padding: 4rem 2rem;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    color: #171616;
}

.hero .cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.hero .cta-button:hover {
    background-color: #0056b3;
}


    .card {
      padding: 20px;
      color: #2a282a;
      border-radius: 12px;
      box-shadow: 0 5px 7px rgba(0,0,0,0.2);
      text-align: center;
    }
    .obj { background-color: #fd87d5; }   /* Rojo coral */
    .dhc { background-color: #a68fe1; }  /* Morado */
    .dh { background-color: #a0eff5; }      /* Verde */
    .elps { background-color: #5af39f; }    /* Naranja */
    .principios { background-color: #008e9b; }    /* Verde azulado */
    .er { background-color: rgb(253, 151, 253); } /*violeta*/